body {
  height: 100%;
  width: 100%;
  margin: 0px; }

#text-input {
  height: 300px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#text-length {
  text-align: center; }

button {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.menu {
  list-style-type: none; }
  .menu li {
    margin: 10px;
    display: none;
    cursor: pointer; }
  .menu li:first-child {
    display: block; }

.menu:hover li {
  display: block; }

.menu-font li {
  display: none; }
  .menu-font li .filling {
    display: none; }
  .menu-font li .font-input {
    display: none; }
.menu-font li:first-child {
  display: block; }
  .menu-font li:first-child .font-input {
    display: block; }
