@mixin centering(){
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
body {
	height: 100%;
	width: 100%;
	margin: 0px;
}
#text-input {
	height: 300px;
	width: 600px;
	@include centering();
}
#text-length {
	text-align: center;
}
button {
	@include centering();
}
.menu {
	list-style-type: none;	
	li {
		margin: 10px;
		//position: absolute;
		display: none;
		cursor: pointer;
	}
	li:first-child {
		display: block;
	}
}
.menu:hover li{
		display: block;
}
// .menu-font {
// 	li {
// 		display: none;
// 		.filling {
// 			display: none;
// 		}
// 		.font-input {
// 			display: none;
// 		}
// 	}
// 	li:first-child {
// 		display: block;
// 		.font-input {
// 			display: block;
// 		}
// 	}
// }
// input {
// 	display: none;
// }
// input:first-child{
// 	display: block;
// }