<!DOCTYPE html>
<html>
<head>
	<title>Simple text editor</title>
	<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="text-area">

	<script type="text/template" id="menu-template">
		<%= name %>
	</script>
	<script type="text/template" id="menu-font">
		<!-- <input class="font-input" placeholder=<%= fontName %>></input> -->
		<div class="filling"><%= fontName %></div>
	</script>

	<script type="text/template" id="input-template">
		<textarea id="text-input"><%= content %></textarea>
		<button>Zapisz!</button>
		<article id="text-length">Characters: <%= length %></article>
		<article id="text-output"><%= content %></article>
	</script>
</div>
	<section id='search-font'>
		<input type="text" class='font-input'>
	</section>
	<ul class="fontList"></ul>

<script type="text/javascript" src="js/model/inputModel.js"></script>
<script type="text/javascript" src="js/view/inputView.js"></script>
<script type="text/javascript" src="js/model/styleItem.js"></script>
<script type="text/javascript" src="js/view/menuView.js"></script>
<script type="text/javascript" src="js/model/chooseFont.js"></script>
<script type="text/javascript" src="js/view/chooseFontView.js"></script>
<script type="text/javascript" src="js/collection/menuListStyle.js"></script>
<script type="text/javascript" src="js/appFile.js"></script>
</body>
</html>